body {
	background-color: #000000;
	margin: 0px;
}
.threediv
{
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  top: 200px;
}


img:nth-child(1)
{
animation: s3d 5s 1s infinite;
-moz-animation: s3d 5s 1s infinite;
-webkit-animation: s3d 5s 1s infinite;
-o-animation: s3d 5s 1s infinite;
}

img:nth-child(2)
{
animation: s3d 5s 2s infinite;
-moz-animation: s3d 5s 2s infinite;
-webkit-animation: s3d 5s 2s infinite;
-o-animation: s3d 5s 2s infinite;
}

img:nth-child(3)
{
animation: s3d 5s 3s infinite;
-moz-animation: s3d 5s 3s infinite;
-webkit-animation: s3d 5s 3s infinite;
-o-animation: s3d 5s 3s infinite;
}

img:nth-child(4)
{
animation: s3d 5s 4s infinite;
-moz-animation: s3d 5s 4s infinite;
-webkit-animation: s3d 5s 4s infinite;
-o-animation: s3d 5s 4s infinite;
}
img:nth-child(5)
{
animation: s3d 5s 5s infinite;
-moz-animation: s3d 5s 5s infinite;
-webkit-animation: s3d 5s 5s infinite;
-o-animation: s3d 5s 5s infinite;
}

img
{
	width: 200px;
	height: 150px;
	position: absolute;
	/*transition:0.5s;*/
/*transition:all;
    
-moz-transition-duration:0.5s;
-moz-transition-property:all;
-webkit-transition-duration:0.5s;
-webkit-transition-property:all;
-o-transition-duration:0.5s;
-o-transition-property:all;*/


/*
animation: s3d 5s 0s infinite;
-moz-animation: s3d 5s 0s infinite;
-webkit-animation: s3d 5s 0s infinite;
-o-animation: s3d 5s 0s infinite;*/


}


.pink {
	position: fixed;
	width: 100%;
	height: 100%;

	-moz-border-image: url(img/pink.png) 35% 50% 30% 35%;
	-webkit-border-image: url(img/pink.png) 35% 50% 30% 35%;
  border-image-width: 35%;
	/*border: double orange 1em;*/
}

.blue {
	position: fixed;
	width: 100%;
	height: 100%;

	-moz-border-image: url(img/blue.png) 35% 50% 30% 35%;
	-webkit-border-image: url(img/blue.png) 35% 50% 30% 35%;
  border-image-width: 35%;
}

.green {
	position: fixed;
	width: 100%;
	height: 100%;

	-moz-border-image: url(img/green.png) 35% 50% 30% 35%;
	-webkit-border-image: url(img/green.png) 35% 50% 30% 35%;
  border-image-width: 35%;
}


#green
{
animation: myfirst2 5s 1s infinite;
	-moz-animation: myfirst2 5s 1s infinite;
	-webkit-animation: myfirst2 5s 1s infinite;
	-o-animation: myfirst2 5s 1s infinite;
}



#pink
{
animation: myfirst2 5s 2s infinite;
	-moz-animation: myfirst2 5s 2s infinite;
	-webkit-animation: myfirst2 5s 2s infinite;
	-o-animation: myfirst2 5s 2s infinite;
}
#blue
{
animation: myfirst2 5s 3s infinite;
	-moz-animation: myfirst2 5s 3s infinite;
	-webkit-animation: myfirst2 5s 3s infinite;
	-o-animation: myfirst2 5s 3s infinite;
}



/*#left
{
	position: fixed;

	height: 100%;
}
#right
{
	position: fixed;

	right: 0px;
	width: 400px;
	height: 100%;
}
.pinkleft
{
	position: absolute;
	background: url(img/pink.png) 0px -400px;
	background-size: cover;
	height: 220px;
  width: 400px;
  bottom: 0px;

  
  
}
.blueleft
{
	position: absolute;
	background: url(img/blue.png) no-repeat;
	background-size: cover;
	height: 400px;
  width: 400px;
}
.greenleft
{
	position: absolute;
	background: url(img/green.png) no-repeat;
	background-size: cover;
	height: 400px;
  width: 400px;
}



.pinkright
{
	position: absolute;
	background: url(img/pink.png) -683px 0px no-repeat;
	background-size: cover;
	height: 100%;
  width: 400px;
  bottom: 0px;
}
.blueright
{
	position: absolute;
	background: url(img/blue.png) -483px 0px no-repeat;
	background-size: cover;
	height: 100%;
  width: 400px;
}
.greenright
{
	position: absolute;
	background: url(img/green.png) -683px 0px no-repeat;
	background-size: cover;
	height: 100%;
  width: 400px;
}






#pinkleft
{

  	animation: myfirst2 5s 1s infinite;
	-moz-animation: myfirst2 5s 1s infinite;
	-webkit-animation: myfirst2 5s 1s infinite;
	-o-animation: myfirst2 5s 1s infinite;
  
  
}
#blueleft
{
animation: myfirst2 5s 1s infinite;
	-moz-animation: myfirst2 5s 1s infinite;
	-webkit-animation: myfirst2 5s 1s infinite;
	-o-animation: myfirst2 5s 1s infinite;
}
#greenleft
{
animation: myfirst2 5s 1.5s infinite;
	-moz-animation: myfirst2 5s 1.5s infinite;
	-webkit-animation: myfirst2 5s 1.5s infinite;
	-o-animation: myfirst2 5s 1.5s infinite;
}



#pinkright
{
animation: myfirst2 5s 2s infinite;
	-moz-animation: myfirst2 5s 2s infinite;
	-webkit-animation: myfirst2 5s 2s infinite;
	-o-animation: myfirst2 5s 2s infinite;
}
#blueright
{
animation: myfirst2 5s 3s infinite;
	-moz-animation: myfirst2 5s 3s infinite;
	-webkit-animation: myfirst2 5s 3s infinite;
	-o-animation: myfirst2 5s 3s infinite;
}
#greenright
{
animation: myfirst2 5s 3.5s infinite;
	-moz-animation: myfirst2 5s 3.5s infinite;
	-webkit-animation: myfirst2 3.5s 1s infinite;
	-o-animation: myfirst2 5s 3.5s infinite;
}*/

@keyframes myfirst2 {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes myfirst2
/* Firefox */

{
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes myfirst2
/* Safari and Chrome */

{
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes myfirst2
/* Opera */

{
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



@-webkit-keyframes s3d

{
	0% {
		transform: translateX(250px) translateZ(-100px) rotateY(-50deg);
		visibility: hidden;
		opacity: 0;
	}
	1% {
		transform: translateX(250px) translateZ(-100px) rotateY(-50deg);
		visibility: visible;
		opacity: 1;
	}
	25% {
		transform: translateX(150px) translateZ(-100px) rotateY(-25deg);
	}
	50% {
		transform: translateX(0px) translateZ(0px) rotateY(0deg);
	}
	75% {
		transform: translateX(-150px) translateZ(-100px) rotateY(25deg);
	}
	98% {
		transform: translateX(-250px) translateZ(-100px) rotateY(50deg);
		visibility: visible;
		opacity: 1;
	}
	99% {
		translateX(-250px) translateZ(-100px) rotateY(50deg);
		visibility: hidden;
		opacity: 0;
	}
	100% {
		transform: translateX(250px) translateZ(-100px) rotateY(-50deg);
		visibility: hidden;
		opacity: 0;
	}
}